{% macro curve_expression(entry) -%}
{% set curve = entry.curve -%}
{% set unified = curve.unified_curve -%}
{% set params = unified.params -%}
	NewCurve(
	{% if unified.type == "WEIERSTRASS_BINARY_POLY" -%}
		wb.Build(&wb.CurveParams{
			Name:    `{{ unified.name }}`,
			BitSize: {{ params.bits }},
			Poly:    NewGF2mModulusFromPolynomials({{ curve.f_arg }}),
			A2:      ParseGF2mHex(`{{ params.a2 | to_hex }}`),
			A6:      ParseGF2mHex(`{{ params.a6 | to_hex }}`),
			N:       HI(`{{ params.n | to_hex }}`),
			{% if curve.has_generator -%}
			Gx:      HI(`{{ params.gx | to_hex }}`),
			Gy:      HI(`{{ params.gy | to_hex }}`),
			{% endif -%}
		}),
	{%- elif unified.type == "WEIERSTRASS_PRIME" -%}
		wp.Build(&wp.CurveParams{
			Name:    `{{ unified.name }}`,
			BitSize: {{ params.bits }},
			P:       NewGFpModulusFromHex(`{{ params.p | to_hex }}`),
			A:       ParseGFpHex(`{{ params.a | to_hex }}`),
			B:       ParseGFpHex(`{{ params.b | to_hex }}`),
			N:       HI(`{{ params.n | to_hex }}`),
			{% if curve.has_generator -%}
			Gx:      HI(`{{ params.gx | to_hex }}`),
			Gy:      HI(`{{ params.gy | to_hex }}`),
			{% endif -%}
		}),
	{%- elif unified.type == "MONTGOMERY_PRIME" -%}
		m.Build(&m.CurveParams{
			Name:    `{{ unified.name }}`,
			BitSize: {{ params.bits }},
			P:       NewGFpModulusFromHex(`{{ params.p | to_hex }}`),
			A:       ParseGFpHex(`{{ params.a | to_hex }}`),
			B:       ParseGFpHex(`{{ params.b | to_hex }}`),
			N:       HI(`{{ params.n | to_hex }}`),
			{% if curve.has_generator -%}
			Gx:      HI(`{{ params.gx | to_hex }}`),
			Gy:      HI(`{{ params.gy | to_hex }}`),
			{% endif -%}
		}),
	{%- elif unified.type == "TWISTEDEDWARDS_PRIME" -%}
		t.Build(&t.CurveParams{
			Name:    `{{ unified.name }}`,
			BitSize: {{ params.bits }},
			P:       NewGFpModulusFromHex(`{{ params.p | to_hex }}`),
			A:       ParseGFpHex(`{{ params.a | to_hex }}`),
			D:       ParseGFpHex(`{{ params.d | to_hex }}`),
			N:       HI(`{{ params.n | to_hex }}`),
			{% if curve.has_generator -%}
			Gx:      HI(`{{ params.gx | to_hex }}`),
			Gy:      HI(`{{ params.gy | to_hex }}`),
			{% endif -%}
		}),
	{%- elif unified.type == "EDWARDS_PRIME" -%}
		e.Build(&e.CurveParams{
			Name:    `{{ unified.name }}`,
			BitSize: {{ params.bits }},
			P:       NewGFpModulusFromHex(`{{ params.p | to_hex }}`),
			C:       ParseGFpHex(`{{ params.c | to_hex }}`),
			D:       ParseGFpHex(`{{ params.d | to_hex }}`),
			N:       HI(`{{ params.n | to_hex }}`),
			{% if curve.has_generator -%}
			Gx:      HI(`{{ params.gx | to_hex }}`),
			Gy:      HI(`{{ params.gy | to_hex }}`),
			{% endif -%}
		}),
	{%- endif -%}
	{%- if curve.unified_curve.params.oid %}
		WithOIDRaw(oids.OID{{ entry.internal_name }}),
	{%- endif %}
	)
{%- endmacro %}
{% macro accessor(item) -%}
{% set entry = item.entry -%}
{% set oid = entry.curve.unified_curve.params.oid -%}
var {{ entry.internal_name | noncapitalize }} = sync.OnceValue(func() elliptic.Curve {
	return {{ curve_expression(entry) | indent(2, true) }}
})

// {{ entry.internal_name }} returns the predefined {{ entry.fullname }} curve.
func {{ entry.internal_name }}() elliptic.Curve { return {{ entry.internal_name | noncapitalize }}() }
{%- endmacro %}
// Code generated by curve_generator. DO NOT EDIT.

package curves

import (
	"crypto/elliptic"
	"sync"

	. "github.com/RyuaNerin/elliptic2/internal"
	. "github.com/RyuaNerin/elliptic2/internal/curve"
	"github.com/RyuaNerin/elliptic2/internal/curves/oids"
	e "github.com/RyuaNerin/elliptic2/internal/curve/edwards"
	m "github.com/RyuaNerin/elliptic2/internal/curve/montgomery"
	t "github.com/RyuaNerin/elliptic2/internal/curve/twistededwards"
	wb "github.com/RyuaNerin/elliptic2/internal/curve/weierstrassbinary"
	wp "github.com/RyuaNerin/elliptic2/internal/curve/weierstrassprime"
	. "github.com/RyuaNerin/elliptic2/internal/field"
)
{% for item in accessors %}

{{ accessor(item) }}
{%- endfor %}
